@import '../scss/variables.scss';

.menuPage {
background-image: url('../../public/mmm1.png');
background-color: $mint;
padding:1rem;
display: flex;
flex-direction: column;
width: 100%;
box-sizing: border-box; 
}