@import '../scss/variables.scss';
@import '../scss/typography.scss';
@import '../scss/mixins.scss';

.menuItem-container{
 margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color:$snow;
}

.DishItem {
@include menu-row;
}

.DottedLine {
  border-bottom: 2px dotted $snow; 
  flex-grow: 1; /* Fill the remaining space */
  margin: 8px 10px ; /* Adjust spacing as needed */
  padding:0;
}