@import '../scss/variables.scss';
@import '../scss/typography.scss';
@import '../scss/mixins.scss';

.menu-component {
  background-color: $clay;
  width: auto;
padding:1rem;
  color:$snow;
  margin-top: 2rem;
}

.menu-component__header {
  color:$snow;
  display:flex;

}
.extra-title {
  @include menu-row;

}

.extra-btn-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-top:1rem;
}


.extra-btn {
 background-color: $shade-24-light; 
 padding: 0.5rem 1.2rem ;
 height: 1rem;
 text-align: center;
 border-radius: 0.2rem;
 
}
.extra-btn.added {
  background-color: $shade-24-dark /*  indikera att objektet har lagts till */
  } 

  .dottedLine {
    border-bottom: 2px dotted $snow; 
    flex-grow: 1; /* Fill the remaining space */
    margin: 4px 10px ; /* Adjust spacing as needed */
    padding:0;
  }